@using ShopAspNet.Models
@*

*@
@{
    var categories = ViewData["Categories"] as List<Category>;
    var categoriesList = new SelectList(categories, "Id", "Title", Model.Category != null ? Model.Category.Id : categories.First().Id);
}
@model Product
<div class="mb-3">
    @Html.LabelFor(m => m.Title, new {@class = "form-label"})
    @Html.TextBoxFor(m => m.Title, new {@class = "form-control", placeholder = "Input title..."})
    @Html.ValidationMessageFor(m => m.Title)
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Description, new {@class = "form-label"})
    @Html.TextAreaFor(m => m.Description, new {@class = "form-control", placeholder = "Input description..."})
    @Html.ValidationMessageFor(m => m.Description)
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Price, new {@class = "form-label"})
    @Html.TextBoxFor(m => m.Price, new {@class = "form-control", min=0.01, step=0.01, placeholder = "Input price..."})
    @Html.ValidationMessageFor(m => m.Price)
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.Category, new {@class = "form-label"})
    @Html.DropDownListFor(m => m.CategoryId, categoriesList, new {@class = "form-control"})
    @Html.ValidationMessageFor(m => m.CategoryId)
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.MainImage, new {@class = "form-label"})
    @Html.TextBoxFor(m => m.MainImage, new {@class = "form-control", type="file", accept=".jpg,.png,.jpeg"})
    @Html.ValidationMessageFor(m => m.MainImage)
</div>

<div class="mb-3">
    @Html.LabelFor(m => m.Images, new {@class = "form-label"})
    @Html.TextBoxFor(m => m.Images, new {@class = "form-control", type="file", multiple=true, accept=".jpg,.png,.jpeg"})
    @Html.ValidationMessageFor(m => m.Images)
</div>
<button type="submit" class="btn btn-success">Save</button>
<a href="/AdminProduct" class="btn btn-outline-info">Return</a>