@using ShopAspNet.Models.Forms;

@{
	ViewData["Title"] = "My Page";
	Layout = "_ShopLayout";
}
@model LoginForm
<div class="container">
	<div class="row mt-5">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h1 class="card-title">Login</h1>
				</div>
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">

						<div class="mb-3">
							@Html.LabelFor(m => m.Login, new {@class = "form-label"})
							@Html.TextBoxFor(m => m.Login, new {@class = "form-control", type = "email", placeholder = "Email"})
							@Html.ValidationMessageFor(m => m.Login)
						</div>

						<div class="mb-3">
							@Html.LabelFor(m => m.Password, new {@class = "form-label"})
							@Html.TextBoxFor(m => m.Password, new {@class = "form-control", type = "password"})
							@Html.ValidationMessageFor(m => m.Password)
						</div>

						<button type="submit" class="btn btn-success">Login</button>
						<a href="/" class="btn btn-outline-info">Return</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>